*{
  margin: 0;
  padding: 0;
}
h2{
  color: red;
}
.box{
  height: 100px;
  width: 100px;
  background-color: rgb(84, 210, 252);
  position: relative;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  transition: all 1s ease-in-out 0.2s;
}
.box:hover{
  background-color: rgb(232, 201, 30);
  transform: translate(10px,200px);
}