
*{
  padding: 0;
  border: 0;
  margin: 0;
}
.box{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  background-color: aquamarine;
  padding: 10px;
  border: 2px solid rebeccapurple;
  border-radius: 10px;
  margin: 20px;
  visibility: visible;
}

#box1{
position: static;
}
#box2{
  position: relative;
  top: 10px;
  left: 20px;
}
#box3{
  position: absolute;
  top: 20px;
}
#box4{
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: -3;
}